.divboton{
    display: flex;
    justify-content: flex-start;
    justify-content: center;

}

.botoncito{
    padding: 7px;
    font-size: larger;
    background-color: rgb(255, 176, 7);
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;


}

.botoncito:hover{
    background-color: rgb(184, 89, 1);
}

.pais{
    margin: 15px;
    height: 500px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff, 
    -1px 1px 0 #ffffff, 
    1px 1px 0 #ffffff; 
}

.search-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 30px 0;
  }
  
  .input-field {
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #555;
  }